body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

h1 {
  font-weight: 100;
  font-size: 7em;
  opacity: 0.2;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.body {
  padding: 10px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 3px #aaa;
  min-width: 600px;
  background-color: white;
}

.body::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
}

.todo-form > form {
  flex-grow: 1;
}

.todo-form button {
  width: 74px;
}

form {
  display: flex;
}

form > input[type="text"] {
  flex-grow: 1;
  font-size: 20px;
  padding: 15px 15px;
}

.todo-view {
  display: flex;
  align-items: center;
}

.todo-view.completed input[type="checkbox"],
.todo-view.completed label {
  opacity: 0.5;
}

.todo-view.completed label {
  text-decoration: line-through;
}

.todo-view label {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.todo-view button {
  width: 35px;
  height: 35px;
}

.todo-view input[type="text"] {
  flex-grow: 1;
  padding: 8px 10px;
  width: 35px;
}

input,
button {
  margin: 2px;
  border-radius: 3px;
  border: thin solid #ddd;
}

button:hover {
  background-color: white;
}

input[type="radio"],
input[type="checkbox"],
button,
label {
  cursor: pointer;
  padding: 5px 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ label {
  border: thin solid #fff;
  padding: 5px 10px;
}

input[type="radio"]:checked ~ label {
  border: thin solid #aaa;
  border-radius: 3px;
}

.todo-form,
.footer {
  display: flex;
}

.todo-form {
  margin-bottom: 20px;
}

.footer {
  opacity: 0.5;
  margin: 10px 2px;
  margin-top: 20px;
  font-size: 12px;
}

.footer > .filters {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  transform: rotateY(180deg);
}
